.game-grid {
  display: grid;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
  ;
  gap: 2px;
  margin: 1rem;
};
  
.game-cell {
  cursor: pointer;
  width: min(96px, 20vw);
  height: min(96px, 20vw);
  border: none;

  &:disabled {
    pointer-events: none;
  }
};
