.toggle-slider {
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 1.25rem;
  background-color: #97CDE2;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  border: 1px solid var(--bs-dark);

  &:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: calc(0.1rem - 0.5px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #FFD05B;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  };

  .toggle-input {
    opacity: 0;
    cursor: pointer;
  };  

  &:has(.toggle-input:checked) {
    background-color: #18186D;
    border: 1px solid var(--bs-light);

    &:before {
      left: calc(100% - 1.1rem + 0.5px);
      background-color: #E4EFF9;
    };
  };
};
